<div class="container mt-3 shadow p-3 mb-5 bg-body rounded">
    <div class="row">
        <div class="col-lg-8 card card-body mx-5">
            <div class="row" *ngFor="let item of orderDetailsSubject.products; let i=index">
                <div class="card">
                    <div class="col-lg-3">
                        <img src={{item.image}} class="card-img-top" alt="...">
                    </div>
                    <div class="col-lg-6">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis">
                            {{item.description}}</p>
                        <h4>{{item.price}}</h4>
                    </div>

                   
                </div>


            </div>

        </div>

        
    </div>
</div>

